<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AboutUs</servlet-name>
        <servlet-class>nsquare.AboutUs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Accommodation</servlet-name>
        <servlet-class>nsquare.Accommodation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Food</servlet-name>
        <servlet-class>nsquare.Food</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>nsquare.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactUs</servlet-name>
        <servlet-class>nsquare.ContactUs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Teacher</servlet-name>
        <servlet-class>nsquare.Teacher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Training_Rishikesh</servlet-name>
        <servlet-class>nsquare.Training_Rishikesh</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Training_Kerala</servlet-name>
        <servlet-class>nsquare.Training_Kerala</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Training_Nepal</servlet-name>
        <servlet-class>nsquare.Training_Nepal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>YogaRetreatRishikesh</servlet-name>
        <servlet-class>nsquare.YogaRetreatRishikesh</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AboutRetreat</servlet-name>
        <servlet-class>nsquare.AboutRetreat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>YogaRetreatKerala</servlet-name>
        <servlet-class>nsquare.YogaRetreatKerala</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>YogaRetreatNepal</servlet-name>
        <servlet-class>nsquare.YogaRetreatNepal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Gallery</servlet-name>
        <servlet-class>nsquare.Gallery</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AboutUs</servlet-name>
        <url-pattern>/AboutUs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Accommodation</servlet-name>
        <url-pattern>/Accommodation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Food</servlet-name>
        <url-pattern>/Food</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactUs</servlet-name>
        <url-pattern>/ContactUs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Teacher</servlet-name>
        <url-pattern>/Teacher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Training_Rishikesh</servlet-name>
        <url-pattern>/Training_Rishikesh</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Training_Kerala</servlet-name>
        <url-pattern>/Training_Kerala</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Training_Nepal</servlet-name>
        <url-pattern>/Training_Nepal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>YogaRetreatRishikesh</servlet-name>
        <url-pattern>/YogaRetreatRishikesh</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AboutRetreat</servlet-name>
        <url-pattern>/AboutRetreat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>YogaRetreatKerala</servlet-name>
        <url-pattern>/YogaRetreatKerala</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>YogaRetreatNepal</servlet-name>
        <url-pattern>/YogaRetreatNepal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Gallery</servlet-name>
        <url-pattern>/Gallery</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
